@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --background: #04050a;
  --foreground: #f4f4f5;
}


.menu-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;

  transition: transform 450ms cubic-bezier(.25,.8,.25,1);
}

.menu-word:hover {
  transform: translateY(-4px);
}

.menu-letter {
  color: rgba(255, 255, 255, 0.35);
  line-height: 1;
  letter-spacing: 0.08em;
  transform: translateY(0);
  transition:
    color 350ms cubic-bezier(.25,.8,.25,1),
    transform 450ms cubic-bezier(.25,.8,.25,1);
}

.menu-word:hover .menu-letter {
  color: rgba(255, 255, 255, 0.95);
  transform: translateY(-3px);
}

/* скрывает скроллбар, но сохраняет скролл */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

